#map {
  height: 60vh;
  box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

p {
  text-align: center;
  margin: 0;
}

.offcanvas .btn {
  display: block;
}
