#map {
  height: 60vh;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  border: transparent;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

p {
  text-align: center;
  margin: 0;
}

.offcanvas .btn {
  display: block;
}
