/******************** css variables ********************/

:root {
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --darkBlue: #084259;
  --mainBlue: #0081a7;
  --lightBlue: #ade8f4;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 6px 0 rgba(0, 0, 0, 0.5);
}

/******************** body ********************/

body {
  background: var(--offWhite);
  color: var(--mainBlack);
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
  line-height: 1.4;
}

/******************** global ********************/

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.btn {
  font-weight: 600;
}

.btn-outline-primary {
  color: var(--mainBlue);
  border-color: var(--mainBlue);
}

.btn-outline-primary:hover {
  background-color: #0081a7;
}

/******************** header ********************/

.hero {
  background: linear-gradient(rgba(13, 13, 13, 0), rgba(13, 13, 13, 1)),
    url("../images/pexels-andrea-piacquadio-3764537.jpg") center/cover no-repeat
      fixed;
  color: var(--offWhite);
  height: 100vh;
  text-align: center;
}

nav.container {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 4rem 0;
  width: 70vw;
  margin: 0 auto;
}

.title h1 {
  font-size: 5rem;
  font-weight: 700;
}

.title h3 {
  font-weight: 500;
}

/******************** features section ********************/

.features-section {
  padding: 3rem;
  text-align: center;
}

.features-section .row {
  padding-top: 2.5rem;
}

.features-section i {
  color: var(--mainBlue);
  padding-bottom: 2rem;
}

.features-section i:hover {
  color: var(--darkBlue);
  transform: scale(1.25, 1.25);
  transition: var(--mainTransition);
}

/******************** testimonial section ********************/

.testimonials {
  background: var(--darkBlue);
  color: var(--offWhite);
  padding: 3rem 0;
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
}

.carousel-inner {
  padding: 0 10vw;
}

.carousel-item {
  padding: 0 1rem;
}

/******************** footer section ********************/

footer {
  padding: 2rem 0 1rem 0;
  text-align: center;
}

.footer-icon-container {
  padding-bottom: 1rem;
}

.footer-icon-container i {
  color: var(--mainBlue);
  font-size: 1.25rem;
  padding: 0.25rem;
  transition: var(--mainTransition);
}

.footer-icon-container i:hover {
  color: var(--darkBlue);
  transform: scale(1.25, 1.25);
}

/******************** small screen ********************/

@media screen and (max-width: 576px) {
  nav.container {
    padding: 2.5rem 0;
  }
}

@media screen and (max-width: 992px) {
  .title {
    width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .title {
    width: 90vw;
  }

  .title h1 {
    font-size: 3rem;
  }

  .title h3 {
    font-size: 1.5rem;
  }

  .testimonial-text {
    font-size: 2rem;
    line-height: 1.4;
  }
}
