@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/******************** css variables ********************/

:root {
  /* Primary Palette */
  --mainBlue: #0081a7;
  --darkBlue: #084259;
  --mainWhite: #d5e5f2;
  --mainBlack: #272637;
  /* Secondary Palette */
  --green: #87bf60;
  --yellow: #e8ec00;
  --orange: #ff934f;
  --red: #d9043d;
  /* Gradient */
  --gradientColor: linear-gradient(rgba(0, 129, 167, 1), rgba(8, 66, 89, 1));
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 6px 0 rgba(0, 0, 0, 0.5);
}

/******************** body ********************/

body {
  background: var(--mainWhite);
  color: var(--mainBlack);
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
  line-height: 1.4;
}

/******************** global ********************/

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}

a {
  text-decoration: none;
}

main {
  min-height: calc(100vh - 217.8px);
}

.gradient-bg {
  background: var(--gradientColor);
}

.main-blue {
  color: var(--mainBlue);
}

.dark-blue {
  color: var(--darkBlue);
}

.main-white {
  color: var(--mainWhite);
}

.main-black {
  color: var(--mainBlack);
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.orange {
  color: var(--orange);
}

.red {
  color: var(--red);
}

.btn {
  font-weight: 600;
}

.btn-outline-primary {
  color: var(--mainBlue);
  border-color: var(--mainBlue);
}

.btn-outline-primary:hover {
  background-color: #0081a7;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.dark {
  background-color: var(--mainBlack) !important;
  color: var(--mainWhite)
}

.card {
  border: transparent;
  border-radius: 1rem;
  filter: drop-shadow(0 1px 16px rgba(0,0,0,0.2));
}

.bold {
  font-weight: bold;
}

.team-icon {
  font-size: 90px;
}

.btn-text {
  min-width: 150px;
}

.mobile-mockup {
  height: 70vh;
}

/******************** header ********************/

.hero {
  background: linear-gradient(rgba(13, 13, 13, 0), rgba(13, 13, 13, 1)),
    url("../images/pexels-andrea-piacquadio-3764537.jpg") center/cover no-repeat
      fixed;
  color: var(--offWhite);
  height: 100vh;
  text-align: center;
}

nav.container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.title {
  padding: 4rem 0;
  margin: 0 auto;
}

.title h1 {
  /* font-size: 5rem;
  font-weight: 700; */
}

.title h3 {
  font-weight: 500;
}

.logo {
  display: block;
  content: url('../images/logo/v_754x200_g.png');
  height: 50px;
}

.logo-alternative-white {
  display: block;
  content: url('../images/logo/v_754x200_w.png');
  height: 50px;
}

nav ul {
  margin-top: 30px;
}

nav li {
  display: inline;
  list-style-type: none;
  text-align: center;
  margin-left: calc(1rem * 3);
}

nav ul a {
  display: block;
  color: var(--offWhite) !important;
  font-size: 18px;
}


.navbar-toggler {
  border: none !important;
  color: var(--offWhite) !important;
}

.navbar-toggler .las {
  font-size: 28px;
}

.navbar-collapse {
  justify-content: end;
}

/******************** features section ********************/

.features-section {
  padding: 3rem;
  text-align: center;
}

.features-section .row {
  padding-top: 2.5rem;
}

.features-section i {
  color: var(--mainBlue);
  padding-bottom: 2rem;
}

.features-section i:hover {
  color: var(--darkBlue);
  transform: scale(1.25, 1.25);
  transition: var(--mainTransition);
}

/******************** testimonial section ********************/

.testimonials {
  background: linear-gradient(rgba(8, 66, 89, 0.8), rgba(8, 66, 89, 0.8)),
    url("../images/image78263-2.png") center top/cover no-repeat
      fixed;
  color: var(--offWhite);
  min-height: 400px;
  padding: 3rem 0;
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.testimonial-text {
  /* font-size: 3rem;
  font-weight: 500;
  line-height: 1.5; */
}

.carousel-inner {
  padding: 0 10vw;
}

.carousel-item {
  padding: 0 1rem;
}

/******************** footer section ********************/

footer {
  padding: 1rem 0 1rem 0;
  text-align: center;
}

footer a, footer p {
  color: var(--mainWhite) !important;
}

footer a {
  font-size: 22px;
}

footer p {
  margin: 0 !important;
}

.footer-icon-container {
  padding-bottom: 1rem;
}

.footer-icon-container i {
  color: var(--mainBlue);
  font-size: 1.25rem;
  padding: 0.25rem;
  transition: var(--mainTransition);
}

/* .footer-icon-container i:hover {
  color: var(--darkBlue);
  transform: scale(1.25, 1.25);
} */

/******************** small screen ********************/

/* @media screen and (max-width: 992px) {
  .title {
    width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .title {
    width: 90vw;
  }

  .title h1 {
    font-size: 3rem;
  }

  .title h3 {
    font-size: 1.5rem;
  }

  .testimonial-text {
    font-size: 2rem;
    line-height: 1.4;
  }
} */

@media screen and (min-width: 992px) {
  .logo {
    content: url('../images/logo/h_1800x199_g.png');
  }

  .logo-alternative-white {
    content: url('../images/logo/h_1800x199_w.png');
  }
}

@media screen and (min-width: 64rem) {
  nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
  }
  
  nav li {
    list-style-type: none;
    text-align: center;
    margin-left: calc(1rem * 3);
  }
  
  nav ul a {
    display: block;
    color: var(--offWhite);
    font-size: 18px;
  }
}